.vscode/*
plan.txt
services/auth/node_modules/*
services/auth/package.json
services/auth/package-lock.json
services/notes/node_modules/*
services/notes/package.json
services/notes/package-lock.json
status-codes.png
response-codes.PNG

services/auth/config.js
